#flexbox{
  display: flex;
  flex-wrap: wrap;
}
.column{
  flex: 100%;
  max-width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}
.image-box{
  margin-top: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.image-box p{
  display: flex;
  opacity: 0;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: 400;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(1.2);
}
.image-box img, .image-box video{
  width: 100%;
  z-index: 1;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.image-box:hover img{
  transform: scale(1.1);
  opacity: 0.6;
}
.image-box:hover p{
  transform: scale(1);
  opacity: 1;
}
@media only screen and (min-width: 768px){
  .column{
    flex: 33.33%;
    max-width: 33.33%;
  }
  .image-box p{
    font-size: 2em;
  }
}
